<%= tag.div class: "settings__panel settings__panel--users panel shadow center", data: {
  controller: "filter navigable-list",
  action: "keydown->navigable-list#navigate filter:changed->navigable-list#reset",
  navigable_list_focus_on_selection_value: true,
  navigable_list_actionable_items_value: true
} do %>

  <h2 class="divider txt-large">People on the account</h2>
  <%= render "account/invite" %>

  <div class="settings__user-filter">
    <input placeholder="Filter…" class="input input--transparent full-width txt-small" type="search" autocorrect="off" autocomplete="off" data-1p-ignore="true" data-filter-target="input" data-action="input->filter#filter">

    <ul class="settings__user-list margin-block-half" data-filter-target="list">
      <%= render partial: "account/user", collection: users %>
    </ul>
  </div>
<% end %>
