.events {
  --grid-lines: 0.3em;

  border-block-start: 1px solid var(--color-subtle);
  display: grid;
  gap: 0 var(--grid-lines);
  grid-template-columns: repeat(4, 1fr);
  padding-block-start: var(--block-space);
}

.events__index {
  --row-gap: calc(4 * var(--block-space));
}

.events--none {
  .events + & {
    padding-block-start: calc(4 * var(--block-space));
  }
}

.event {
  --column-gap: 0.7ch;
  --panel-border-radius: 0.5em;
  --panel-padding: 0.6em 1.2em 0.6em 0.6em;
  --panel-size: auto; 

  margin: var(--inline-space);
}

.event--related {
  box-shadow: 0 0 0.3em 0.3em var(--bubble-color) !important;
}

.event__grid-item {
  background-color: var(--color-selected);
  block-size: 100%;
  border-radius: 0;
  display: flex;
  inline-size: 100%;
}

.event__grid-column-title {
  background-color: var(--color-bg);
  inset-block-start: 0;
  padding-block: var(--grid-lines);
  z-index: 1;
}

.event__timestamp {
  align-self: start;
  display: grid;
  margin-block-start: calc(var(--grid-lines) * -1);
}

.event__wrapper {
  align-content: end;
  display: grid;
  gap: var(--grid-lines);
  justify-items: center;
  margin: var(--grid-lines);
  padding: calc(var(--grid-lines) / 2);

  .event {
    grid-column-start: unset !important;
    grid-row-start: unset !important;
  }
}
