@layer base {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto 9em;

    &.public {
      grid-template-rows: auto 1fr auto;
    }
  }

  :where(#main) {
    --main-padding: clamp(var(--inline-space), 3vw, calc(var(--inline-space) * 3));

    inline-size: 100dvw;
    margin-inline: auto;
    max-inline-size: 100dvw;
    padding-inline: var(--main-padding);
    text-align: center;

    @media print {
      font-size: 11pt;
      inline-size: unset;
      line-height: 1.3;
      margin: 0;
      orphans: 3;
      padding: 0;
      text-align: justify;
      text-justify: distribute;
      widows: 2;
    }
  }

  :where(#footer) {
    max-inline-size: 100dvw;
  }

  :is(#header, #footer) {
    @media print {
      display: none;
    }
  }
}
